
/* About.css */
body {
  margin: 0; 
  background-color: black;/* Remove default margin */
}
/* About.css */
/* About.css */

.plane img {
  width: 100px; /* Set the width of the plane image */
  height: auto; /* Maintain aspect ratio */
  position: relative; /* Ensure the position is relative for animation */
  animation-name: planeAnimation; /* Set the name of the animation */
  animation-duration: 4s; /* Set the duration of the animation */
  animation-timing-function: linear; /* Set the timing function of the animation */
  animation-iteration-count: infinite; /* Make the animation repeat infinitely */
}

.plane {
  top: 50px; /* Set the initial top position */
  left: -100px; /* Set the initial left position */
}

@keyframes planeAnimation {
  from {
    left: -100px; /* Set the starting position of the animation */
  }
  to {
    left: calc(100vw + 100px); /* Set the ending position of the animation */
  }
}

.profile-image {
  border-radius: 50%; /* Make the image circular */
  width: 150px; /* Set the width of the image */
  height: 150px; /* Set the height of the image */
  object-fit: cover; /* Scale the image to be as large as possible while maintaining aspect ratio and cropping any excess */
}

/* About.css */

.about {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh;
  color: white;
  background-color: black;
}

/* Adjust margin-top based on viewport size */
@media (min-width: 768px) {
  /* For devices with a viewport width of 768px or larger (tablet and desktop) */
  .about {
    margin-top: 10%;
  }
}

@media (max-width: 767px) {
  /* For devices with a viewport width smaller than 768px (mobile) */
  .about {
    margin-top: 60%; /* Adjust the margin-top value as needed */
  }
}


.section {
  padding: 50px 0;
  text-align: center; /* Center the text within each section */
}


.section-content {
  text-align: center;
}

.scroll-arrows {
  display: none; /* Hide scroll arrows for the new layout */
}
