/* Add this to your existing CSS */
body {
  color: #F5F5DC;
  background-color: black;
  scroll-behavior: smooth; /* Enable smooth scrolling */
}


.about {
  background-color: black;
}




.section-one,  .section-two, .section-three, .section-projects {
  display: flex;
  height: auto; /* instead of 100vh */
  min-height: 100vh;
  margin-top: 5%;
  margin-left: 3%;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  animation: fadeIn 1.5s ease forwards;
}

.content {
  padding: 0 20px;
}

.section-two, .section-three {
  padding: 20px;
  text-align: left;
}

.my-name, .my-exp{
  font-weight: 300;
  font-size: 80px;
}

.my-exp {
  font-size: 80px;
  font-weight:700;
  text-align: left;

}

.fields {
  font-weight: 300;
  font-size: 30px;
}

.passion-text {
  font-size: 20px;
}



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.highlight {
  font-weight:700;
 } /* Rounded corners for the highlight */

 .job {
  position: relative;
  margin: 50px 0; }

.job-title {
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 10px;
}

.job-period {
  font-size: 20px;
  color: #F5F5DC;
  margin-bottom: 10px;
}



.timeline {
  position: relative;
  padding-left: 50px;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2px;
  background-color: #F5F5DC;
  transform: translateX(-50%);
}
/* Add this to your existing CSS */
.section-follow {
  display: flex;
  margin: 5%;
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Centers the content vertically */
  padding: 20px;
}

.follow-content {
  display: flex;
  justify-content: space-around; /* Evenly spaces the child elements */
  width: 100%; /* Full width of the section */
  max-width: 1200px; /* Maximum width of the content */
}

.life-exp, .work-exp {
  flex: 1; /* Each section takes equal space */
  padding: 20px;
  margin: 10px;
  border-right: 2px solid #F5F5DC; /* Right border for separation */
}

.section-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
}


.into-project {
  color: #F5F5DC;
  font-weight: 300;
  font-size: 80px;
}

.project {
  transition: transform 0.3s ease-in-out;
  width: 90%; /* Adjust width based on your layout needs */
  margin: 20px;
  padding: 20px;
  border-radius: 8px; /* Rounded corners for the cards */
  opacity: 0.9;
}

.project:hover {
  transform: translateY(-10px);
}

a {
  color:#F5F5DC;
}
.project-title {
  color: #F5F5DC;
  font-size: 24px;
  text-align: center;
}

.project-text {
  font-size: 20px;
  line-height: 1.5;
  color: #F5F5DC;
  text-align: center;
}

/* Animation for fading in projects */
@keyframes slideInUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.project-content {
  animation: slideInUp 0.5s ease-out forwards;
  animation-delay: 0.3s;
}


@media screen and (max-width: 768px) {
  .section-one {
    margin: 5%; /* Center align content vertically */
  }

  hr {
    display: none;
  }


  .content,
  .section-two,
  .section-three {
    text-align: center;
    padding: 0;
  }

  .my-name{
    font-size: 40px; /* Adjust font size for smaller screens */
  }

  .into-project {
    color: #F5F5DC;
    font-weight: 300;
    font-size: 40px;
    text-align: center;
  }
  .my-exp {
    font-size: 40px; /* Adjust font size for smaller screens */
    font-weight: 700;
    text-align: center;
  }

  .fields {
    font-size: 20px; /* Adjust font size for smaller screens */
  }


  .highlight{
    font-weight: 700;
   } /* Rounded corners for the highlight */
  /* Rounded corners for the highlight */
  

  .passion-text {
    font-size: 15px; /* Adjust font size for smaller screens */
  }

  .hobby i {
    font-size: 24px;
  }

  .hobby span {
    font-size: 14px;
  }

  .job {
    margin: 30px 0;
  }

  .job-title {
    font-size: 20px;
  }

  .job-period {
    font-size: 16px;
  }

  .job-description {
    font-size: 14px;
  }

  .timeline {
    padding-left: 0; /* Removes padding that was making space for the vertical line */
  }

  .timeline::before {
    display: none; /* Removes the vertical line completely */
  }
}
