/* Design.css */

.design-container {
    padding: 20px;
  }
  
  .design-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .design-item {
    border: 1px solid #001F3F;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: #001F3F;
  }
  
  .design-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .design-item p {
    margin-top: 10px;
    font-size: 16px;
    color: white;
  }
  
  .design-container h1 {
    color: white;
    margin: 20px auto; /* Center the h1 element horizontally */
    text-align: center; /* Center the h1 element text */
  }
  