@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;



}

.navbar {
  background-color: #001F3F;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar img {
  width: 50px;
  height: auto;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: #F5F5DC;
  position: relative;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar a:hover {
  color: #001F3F;
  background-color: #F5F5DC; /* Background color on hover */
  border-radius: 5px; /* Add some border radius for a softer look */
}

.navbar a.active {
  font-weight: bold;
  background-color: #F5F5DC; /* Highlight active page */
}

